.login-container {
    margin: 5%;
    color: whitesmoke; 
    text-align: center;
}

.iframe-container {
    position: relative;
    width: 100%; /* Full width */
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0; /* Set height to 0 */
    overflow: hidden; /* Hide overflow */
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Full height */
    border: 0; /* Remove default border */
}
