#root {
  height: 100%;
  width: 100%;
  color: white;
}

body {
  background: linear-gradient(to right, #370342 0%, #290670 100%);
}

.primary {
  background-color: #896b99;
}

button {
  width: -webkit-fill-available;
  margin-bottom: 20px;
}