#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: linear-gradient(to right, #370342 0%, #290670 100%);
}

.primary {
  background-color: #896b99;
}

button {
  width: -webkit-fill-available;
  margin-bottom: 20px;
}